#header{
  display:flex;
  position:fixed;
  top:0;
  align-items:center;
  background-color:#5A5A5A;
  width:100%;
}
body{
 padding:0;
 margin:0;
}
@media (max-width:600px){
  p{
    font-family:sans-serif;
  }
  h1,h2{
    font-family:helvetica, arial;
  }
}
body{
  background-color:#D3D3D3;
}
ul{
 display:flex;
}
ul li{
  margin-left:90px;
  list-style:none;
}
html{
  overflow:scroll;
}
.logo{
  margin-top:8px;
  color:white;
}
.container{
  width:400px;
}
#form{
  display:flex;
  flex-direction:column;
  width:300px;
  align-items:center;
  justify-content:center;
  margin:0 auto;
}
h2{
  text-align:center;
  position:relative;
}
#submit{
  margin-top:10px;
  height:40px;
  width:100px;
  background-color:black;
  color:white;
}
#email{
  height:30px;
  width:300px;
}
#features{
  display:flex;
  font-size:1rem;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
#features p{
  position:relative;
  bottom:30px;
}
#video{
  width:60vw;
}
#How-It-Works{
  display:flex;
  justify-content: center;
}
hr{ 
  width:400px;
}
#About-Us p{
  text-align:center;
}
#About-Us{
  margin:0 auto;
}
.position{
  margin-top:100px;
}
a{
  color:white;
  text-decoration:none;
}
  
